{% extends "subTemplate/commun.twig" %} 

{% block title %}
  Profile
{% endblock %} 

{% block head %}
  <script type="text/javascript" src="js/profile.js"></script>
{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
  <div class="jumbotron bg-light col-6" style="background:transparent !important">
    <div class="row">
      <i class="material-icons mr-4 my-auto">info</i>
      <div>
        <h1 class="display-4 my-auto">{{user.getLastname|upper}} {{user.getFirstname|capitalize}}</h1>
        <p class="lead my-auto">{{user.getMail}}</p>
      </div>
    </div>
    <div class="row">
      <i class="material-icons mr-4 my-auto">phone</i>
      <p class="lead my-auto">{{user.getPhone}}</p>
    </div>
    <hr class="my-4">
    <div class="row">
      <i class="material-icons mr-4 my-auto">location_on</i>
      <div>
        <p class="lead my-auto">{{user.getNumber}} {{user.getStreet|lower}}</p>
        <p class="lead my-auto">{{user.getZipcode}}</p>
        <p class="lead my-auto">{{user.getTown|capitalize}}</p>
      </div>
    </div>
      <div class="mt-5 mx-5">
        <div class="mb-3">
          <h1 class="display-4 my-auto text-center">Update account informations</h1>
        </div>
        <form action="/sign-down" name="updatePassword" method="post">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="do-password">Old password</label>
                <input type="password" class="form-control" name="do-old">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="do-password">New password</label>
                <input type="password" class="form-control" id="do-password" name="do-password" onfocus="resetPasswords('do-password-error', 'do-confirm-error')" onblur="verifyPassForm('do-password', 'do-confirm', 'do-password-error', 'do-confirm-error')">
                <span id="do-password-error" class="text-danger"></span>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="do-confirm">Confirm password</label>
                <input type="password" class="form-control" id="do-confirm" name="do-confirm" onfocus="resetPasswords('do-password-error', 'do-confirm-error')" onblur="verifyPassForm('do-password', 'do-confirm', 'do-password-error', 'do-confirm-error')">
                <span id="do-confirm-error" class="text-danger"></span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" onclick="verifyPassword()">Update password</button>
          </div>
        </form>
        <form action="/sign-down" name="updateInformations" method="post">
          <hr class="my-4 mx-5">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="do-lastname">Lastname*</label>
                <input type="text" class="form-control" id="do-lastname" name="do-lastname" value="{{user.getLastname|upper}}" onfocus="resetLast('do-lastname-error')" onblur="verifyLastForm('do-lastname', 'do-lastname-error')">
                <p id="do-lastname-error" class="text-danger"></p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="do-firstname">Firstname*</label>
                <input type="text" class="form-control" id="do-firstname" name="do-firstname" value="{{user.getFirstname|capitalize}}" onfocus="resetFirst('do-firstname-error')" onblur="verifyFirstForm('do-firstname', 'do-firstname-error')">
                <span id="do-firstname-error" class="text-danger"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="do-phone">Phone</label>
            <input type="text" class="form-control" id="do-phone" name="do-phone"  value="{{user.getPhone}}" onfocus="resetPhone('do-phone-error')" onblur="verifyPhoneForm('do-phone', 'do-phone-error')">
            <span id="do-phone-error" class="text-danger"></span>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="do-number">Number</label>
                <input type="text" class="form-control" id="do-number" name="do-number" value="{{user.getNumber}}" onfocus="resetNumber('do-number-error')" onblur="verifyNumberForm('do-number', 'do-number-error')">
                <span id="do-number-error" class="text-danger"></span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="do-street">Street</label>
                <input type="text" class="form-control" name="do-street" value="{{user.getStreet|lower}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="do-zipcode">Zipcode</label>
                <input type="text" class="form-control" id="do-zipcode" name="do-zipcode" value="{{user.getZipcode}}" onfocus="resetZipcode('do-zipcode-error')" onblur="verifyZipcodeForm('do-zipcode', 'do-zipcode-error')">
                <span id="do-zipcode-error" class="text-danger"></span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="do-town">Town</label>
                <input type="text" class="form-control" name="do-town" value="{{user.getTown|capitalize}}">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" onclick="verifyInformation()">Update account</button>
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock %} 
