{% extends "subTemplate/commun.twig" %} 

{% block title %}
  Search
{% endblock %} 

{% block content %}
<form action="/search" class="form-inline d-flex justify-content-center">
  <div class="form-group">
    <label for="name" class="bmd-label-floating">Name</label>
    <input type="text" name="name" class="form-control" id="name" value="{{search}}">
  </div>
  <div class="form-group">
    <label for="min" class="bmd-label-floating">Min</label>
    <input type="text" name="min" class="form-control mx-1" id="min" value="{{min}}">
  </div>
  <div class="form-group">
    <label for="max" class="bmd-label-floating">Max</label>
    <input type="text" name="max" class="form-control" id="max" value="{{max}}">
  </div>
  <span class="form-group bmd-form-group">
    <button type="submit" class="btn bmd-btn-fab-sm">
      <i class="material-icons mx-auto d-block">search</i>
    </button>
  </span>
</form>
<div class="list-group w-75 mx-auto">
  <div class="row">
    {% for item in items %}
      <div class="col-xl-4 offset-xl-1 col-lg-12">
        <a href="#" class="list-group-item list-group-item-action my-1 bg-light rounded">
          <img class="d-block" src="{{item.getIcon}}" alt="{{item.getName}}"></img>
          <div class="my-auto">{{item.getName}}</div>
          <p class="badge my-auto ml-auto badge-pill">{{item.getPrice}}<img src="asset/coin.png" class="mx-1" style="width:18px;height:13px"></img></p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %} 
